// Responsive Design Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Site Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$bs-b-opacity-50: rgba(50, 50, 50, 0.5);
