@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	// border: 1px solid red;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
	color: $bandsite-black;
}
.header {
	background-color: $bandsite-black;
	color: $white;

	@include tablet {
		padding: 2rem 4rem;
	}
	@include desktop {
		padding: 3rem 14rem;
	}
}
.logo {
	max-width: 12rem;
	padding: 1.6rem 0;
	display: block;

	&--footer {
		@include tablet {
			position: absolute;
			top: 5.6rem;
			right: 4rem;
		}
		@include desktop {
			right: 14rem;
		}
	}
}
.nav {
	@include flex-property(column, center, center);
	@include tablet {
		flex-direction: row;
		justify-content: flex-start;
	}

	&__menu-wrapper {
		width: 100%;
		@include flex-property;
		padding-bottom: 1.2rem;

		@include tablet {
			@include flex-property;
			gap: 6rem;
			padding: 0.5rem 5rem 0;
		}
		@include desktop {
			gap: 4.5rem;
		}
	}
	&__menu-item {
		width: 50%;
		@include typography(1.4rem, 600, 2.2rem);
		color: $white;
		text-decoration: none;
		text-align: center;

		@include tablet {
			width: auto;
			@include typography(1.6rem, 600, 2.2rem);
		}
	}
}
.hero {
	width: 100%;
	background-image: url("../assets/images/hero-bio.jpg");
	background-position: center;
	background-size: cover;

	@include tablet {
		background-position: bottom;
	}
	@include desktop {
		background-position: 0% 25%;
	}
	&__title {
		@include typography($text-size: 2.4rem, $text-weight: 600);
		color: $white;
		padding: 8rem 1.6rem;
		background-color: $bs-b-opacity-50;

		@include tablet {
			padding: 19rem 4rem;
			@include typography($text-size: 6rem, $text-weight: 600);
		}
		@include desktop {
			padding: 28rem 14rem;
			@include typography($text-size: 6rem, $text-weight: 600);
		}
	}
}
.about-section {
	padding: 0 1.6rem;

	@include tablet {
		padding: 0 4rem;
	}
	@include desktop {
		padding: 0 14rem;
	}

	&__heading {
		@include typography($text-size: 2.6rem, $text-weight: 600);
		padding: 2.4rem 0 1.2rem;

		@include tablet {
			@include typography($text-size: 3.4rem, $text-weight: 600);
			padding: 4.8rem 0 2.4rem;
		}
	}
	&__content-container {
		@include tablet {
			padding: 0 5.6rem;
		}
		@include desktop {
			padding: 0 8rem;
		}
	}
	&__image {
		width: 100%;

		@include tablet {
			height: 32rem;
			object-fit: cover;
		}
		@include desktop {
			height: 46rem;
		}
	}
	&__quote-text {
		@include typography(1.4rem, 600, 2.2rem);
		padding-top: 0.8rem;

		@include tablet {
			@include typography(2.25rem, 600, 3.2rem);
			padding-top: 2.4rem;
		}
		@include desktop {
			width: 78%;
			@include typography(2.2rem, 600, 3.2rem);
		}

		&-author {
			display: block;
			padding-top: 0.5rem;

			@include tablet {
				@include typography($text-size: 1.54rem, $text-weight: 700);
				padding-top: 1.5rem;
			}
		}
	}
	&__bees-knees-title {
		@include typography(1.4rem, 600, 2.2rem);
		padding: 2rem 0 1rem;

		@include tablet {
			@include typography(2.7rem, 600, 2.2rem);
			padding: 6.4rem 0 2.8rem;
		}
		@include desktop {
			@include typography(2.4rem, 600, 2.2rem);
		}
	}
	&__bees-knees-text-wrapper {
		@include tablet {
			@include flex-property;
			gap: 2rem;
		}
	}
	&__bees-knees-text {
		@include typography(1.3rem, 400, 1.8rem);
		padding-right: 0.6em;
		padding-bottom: 1.6rem;

		@include desktop {
			@include typography(1.345rem, 400, 1.8rem);
		}
	}
}
.gallery {
	background-color: $alabaster;
	padding-bottom: 1.6rem;

	@include tablet {
		padding-bottom: 3.5rem;
	}

	&__container {
		@extend .about-section;
	}
	&__heading {
		@include typography($text-size: 2.4rem, $text-weight: 600);
		padding: 2.4rem 0 1rem;
		@include tablet {
			@include typography($text-size: 3.6rem, $text-weight: 600);
			padding: 4.8rem 0 2.4rem;
		}
	}
	&__image-wrapper {
		@include flex-property($direction: column);
		gap: 1.6rem;

		@include tablet {
			@include flex-property($justify: space-between);
			flex-wrap: wrap;
			gap: 2.5rem;
		}
	}
	&__image {
		width: 100%;

		@include tablet {
			width: 30%;
			flex: 1 1 auto;
		}
	}
}
.footer {
	background-color: $bandsite-black;
	color: $white;

	&__container {
		@extend .gallery__container;
		position: relative;
	}
	&__social-media {
		@include flex-property($direction: column);
		gap: 1.6rem;
		padding-top: 3.2rem;

		@include tablet {
			@include flex-property;
			padding-top: 5.6rem;
			gap: 17rem;
		}
		@include desktop {
			gap: 5rem;
		}

		&-heading {
			@include typography($text-size: 2.5rem, $text-weight: 600);

			@include tablet {
				@include typography($text-size: 3.6rem, $text-weight: 600);
				padding: 0.2rem 0 0;
			}
		}
	}
	&__icons-wrapper {
		@include flex-property;
		gap: 3.4rem;
	}
	&__contacts-wrapper {
		padding: 2.4rem 0 4rem;
		@include flex-property($direction: column);
		gap: 2.4rem;

		@include tablet {
			@include flex-property($justify: space-between);
			padding: 4.8rem 0 6.4rem;
		}
		@include desktop {
			@include flex-property;
			gap: 6.5rem;
		}
	}
	&__contact {
		@include flex-property($direction: column);
		gap: 1.6rem;
		@include typography(1.3rem, 400, 1.8rem);

		@include tablet {
			width: 30%;
			flex: 1 1 auto;
			@include typography(1.4rem, 400, 2.2rem);
			gap: 2.4rem;
		}
		@include desktop {
			width: auto;
			flex: 0 0 auto;
		}

		&-title {
			font-weight: 600;
		}
	}
	&__copyright {
		@include typography(1.1rem, 400, 1.8rem);
		padding-bottom: 1.6rem;

		@include tablet {
			@include typography(1.4rem, 400, 1.8rem);
			padding-bottom: 4.8rem;
		}
	}
}
